# ======= App Settings (MySQL) =======
DEVMODE=true                 # Set to 'true' to enable development mode

# ======= Database Settings =======
#For local MySQL database
DB_HOST=localhost            # Database host (e.g., localhost or db.yourdomain.com)
DB_USER=your_db_user         # Your MySQL username
DB_PASSWORD=your_db_pass     # Your MySQL password
DB_NAME=greenhouse_v1        # Name of the MySQL database
TABLE_NAME=plantdata_v1      # Name of the table to store data
# For PostgreSQL database
DATABASE_URL=postgresql://your_user:your_password@your_host:your_port/your_db_name # PostgreSQL connection string

# ======= MQTT Broker Settings =======
MQTT_HOST=localhost          # MQTT broker address
MQTT_PORT=1883               # MQTT broker port
MQTT_USER=your_mqtt_user     # MQTT username
MQTT_PASS=your_mqtt_pass     # MQTT password

# ======= MQTT Topic Settings =======
MQTT_TEST_TOPIC=dataBaseTest # Topic to update database log
MQTT_REAL_TOPIC=realData     # Topic to update error (plant) or online_status (iotDev)
MQTT_MESSAGE_TOPIC=msmt     # Base topic for messages
MQTT_COMMAND_TOPIC=command # Topic to publish event changes
MQTT_SYNC_TOPIC=sync        # Topic for sync messages

# ======= Online Checker Settings =======
IOT_DEV_TIMEOUT=600000      #This is in milliseconds. 600000 = 10 minutes
SYNC_INTERVAL=60000         # Sync interval in milliseconds (default: 60 seconds)
EVENT_CHECK_INTERVAL=15     # Event check interval in seconds (default: 15 seconds)
